.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
  }

  &-links {
    display: flex;
    align-items: center;
    gap: 20px;
  }


  &-tools {
    flex-shrink: 0;
    display: flex;
    gap: 10px;
    align-items: center;
  }

}

.theme-icon {
  transform: rotateY(-180deg);
}
