.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
  }




  &__links {
    display: flex;
    align-items: center;
    gap: 20px;
  }




  &__tools {
    flex-shrink: 0;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__menu-icon {
    display: none;
  }

  @media (max-width: 800px) {
    &__links {
      display: none;
    }
    &__tools {
      display: none;
    }

    &__menu-icon {
      display: block;
    }
  }

}

.theme-icon {
  transform: rotateY(-180deg);
}



