@import 'modern-css-reset';

a {
  text-decoration: none; /* 去掉下划线 */
  color: inherit; /* 继承父元素颜色，默认不是蓝色 */
  cursor: pointer; /* 鼠标变成手型，保持交互感 */
}


.button {
    cursor: pointer;
    padding: 0.5em 0.8em;
    background: black;
    display: flex;
    color: white;
    height: 35px;
    align-items: center;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 14px;
}
